@tailwind base;
@tailwind components;
@tailwind utilities;

#__nuxt,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@layer base {
  body, html {
    @apply overflow-hidden scrollbar-hide;
  }
}

@layer utilities {
  .bg-gradient {
    background: linear-gradient(180deg, rgba(255,158,11,1) 0%, rgba(187,77,2,1) 100%);
  }
}

input[type="radio"]:checked {
  background-color: #ff9e0b !important;
}